@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap&subset=cyrillic-ext");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*-------------------------------FONTS-----------------------------------*/
/*-------------------------DEFAULT FONT-----------------------------*/
/*-------------------------------VARIABLES-------------------------------*/
/*--------------------------CONTENT WRAPPERS------------------------------*/
body {
  font-family: "Press Start 2P";
  background-color: yellow; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../images/bg.webp");
  background-size: cover;
  position: relative;
  z-index: 1; }
  .wrapper_none {
    display: none; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.videobg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0; }

.header,
.footer {
  background-color: rgba(0, 0, 0, 0.141); }

.marquee {
  font-size: 22px;
  padding: 5px 0;
  color: white; }
  .marquee_text {
    padding-top: 12px; }

.art {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: bold;
  background-color: black;
  -webkit-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }
  .art_pressed {
    left: -100%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
    .art_pressed .art__click {
      display: none; }
  .art__click {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; }
  .art:hover > * {
    color: yellow;
    background: none; }

.btn,
.art__click {
  font-family: 'Press Start 2P';
  display: inline-block;
  color: black;
  background: yellow;
  padding: 10px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.btn {
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear; }
  .btn:hover {
    padding: 100px; }
